    <div class="row">
        <div class="col-md-10">
            <div class="overview-wrap">
                <h2 class="title-1">Bit치cora</h2>

            </div>
        </div>
    </div>
    <div class="row m-t-25"></div>
    <div class="row">
        <div class="col-lg-20" style="width: 780px;">
            <div class="au-card recent-report">
                <div class="au-card-inner">
                    <h3 class="title-2">Registro</h3>
                    <div class="signup-form">
                        <form class="register-form" id="register-form">
                            <div class="form-row">
                                <div class="form-group">
                                    <div class="form-input">
                                        <label for="bitacoraRegistroUsername" class="required">Usuario</label>
                                        <input type="text" name="bitacoraRegistroUsername"
                                            id="bitacoraRegistroUsername" />
                                    </div>
                                    <div class="form-input">
                                        <label for="bitacoraRegistroDate" class="required">Fecha y Hora</label>
                                        <input type="datetime-local" name="bitacoraRegistroDate"
                                            id="bitacoraRegistroDate" />
                                    </div>
                                    <div class="form-input">
                                        <label for="bitacoraCodigoRegistro" class="required">C칩digo del Registro</label>
                                        <input type="text" name="bitacoraCodigoRegistro" id="bitacoraCodigoRegistro" />
                                    </div>
                                    <div class="form-input">
                                        <label for="bitacoraDescripcion" class="required">Descripci칩n de Acci칩n</label>
                                        <input type="text" name="bitacoraDescripcion" id="bitacoraDescripcion" />
                                    </div>
                                </div>

                            </div>
                    </div>
                    <div class="form-submit">
                        <input type="submit" value="Submit" class="submit" id="submit" name="submit" />
                        <input type="submit" value="Reset" class="submit" id="reset" name="reset" />
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
