<div class="row">
    <div class="col-md-10">
        <div class="overview-wrap">
            <h2 class="title-1">Bitácora</h2>
            <button class="au-btn au-btn-icon au-btn--blue">
                <i class="zmdi zmdi-refresh"></i>Actualizar
            </button>
        </div>
    </div>
</div>
<div class="row m-t-25"></div>
<div class="row m-t-30">
    <div class="col-md-12">
        <!-- DATA TABLE-->
        <div id="responsive-bitacora" class="table-responsive m-b-40">
            <table id="table-bitacora" class="table table-responsive table-data3">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Fecha y Hora</th>
                        <th>Código del Registro</th>
                        <th>Descripción de la Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lorem123</td>
                        <td>01/03/2020 11:00</td>
                        <td>Cod123</td>
                        <td>Inserción de un nuevo cliente</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE-->
    </div>
</div>
