<div class="row">
    <div class="col-md-10">
        <div class="overview-wrap">
            <h2 class="title-1">Clientes</h2>
            
        </div>
    </div>
</div>
<div class="row m-t-25"></div>
<div class="row">
    <div class="col-lg-20" style="width: 780px;">
        <div class="au-card recent-report">
            <div class="au-card-inner">
                <h3 class="title-2">Editar</h3>
                <div class="signup-form">
                    <form class="register-form" id="register-form">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="cliente_Code" class="required">Código de
                                        Cliente</label>
                                    <input type="text" name="cliente_Code" id="cliente_Code" />
                                </div>
                                <div class="form-input">
                                    <label for="documentoIdentidad" class="required">Documento de
                                        Identidad</label>
                                    <input type="text" name="documentoIdentidad" id="documentoIdentidad" />
                                </div>
                                <div class="form-input">
                                    <label for="nombre" class="required">Nombre Completo</label>
                                    <input type="text" name="nombre" id="nombre" />
                                </div>
                                <div class="form-input">
                                    <label for="nombreCorto" class="required">Nombre Corto</label>
                                    <input type="text" name="nombreCorto" id="nombreCorto" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-input">
                                    <label for="fechaIngreso" class="required">Fecha de
                                        Ingreso</label>
                                    <input type="date" name="fechaIngreso" id="fechaIngreso" />
                                </div>
                                <div class="select-list">
                                    <label for="cliente_Estado" class="required">Estado</label>
                                    <select name="cliente_Estado" id="cliente_Estado" class="form-control">
                                        <option value="0">Seleccione una Opción</option>
                                        <option value="1">Activo</option>
                                        <option value="2">Inactivo</option>
                                    </select>
                                </div>
                                <div class="form-input">
                                    <label for="correo" class="required">Correo
                                        Electrónico</label>
                                    <input type="correo" name="correo" id="correo" />
                                </div>
                                <div class="form-input">
                                    <label for="telefonos" class="required">Teléfono Celular</label>
                                    <input type="text" name="telefonos" id="telefonos" />
                                </div>
                                
                                <div class="form-input">
                                    <label for="direccion" class="required">Dirección</label>
                                    <textarea type="text" name="direccion" id="direccion"
                                        rows="4"></textarea>
                                </div>

                            </div>
                        </div>
                </div>

                <div class="form-submit">
                    <input type="submit" value="Actualizar" class="submit" id="submit" name="submit" />
                </div>
                </form>
            </div>
        </div>
    </div>
</div>