                        <div class="row">
                            <div class="col-md-10">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Listado de Clientes</h2>
                                    <button class="au-btn au-btn-icon au-btn--blue">
                                        <i class="zmdi zmdi-refresh"></i>Actualizar
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-25"></div>
                        <div class="row m-t-25"></div>


                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <div class="table-data__tool">
                                    <div class="table-data__tool-left">
                                        <div class="rs-select2--light rs-select2--md">
                                            <select class="js-select2" name="property">
                                                <option selected="selected">Propiedades</option>
                                                <option value="">Lista General</option>
                                                <option value="">Lista por Estado</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                        <button class="au-btn-filter">
                                            <i class="zmdi zmdi-filter-list"></i>Filtrar</button>
                                    </div>
                                    
                                </div>
                                <div class="table-responsive table-responsive-data3">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th>Documento de Identificación</th>
                                                <th>Nombre Completo</th>
                                                <th>Correo Electrónico</th>
                                                <th>Teléfono Habitación</th>
                                                <th>Teléfono Celuar</th>
                                                <th>Teléfono Trabajo</th>
                                                <th>Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="tr-shadow">

                                                <td>01-1342-1357</td>
                                                <td class="desc">Guillermo Villegas Chávez</td>
                                                <td>
                                                    <span class="block-email">lori@example.com</span>
                                                </td>                                                                            
                                                <td>8732-3969</td>
                                                <td>2339-3969</td>
                                                <td>4920-3969</td>
                                                <td>
                                                    <span class="status--process">Activo</span>
                                                </td>                                                
                                            </tr>
                                            <tr class="spacer"></tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE -->
                            </div>
                        </div>
