<div class="row">
    <div class="col-md-12">
        <div class="overview-wrap">
            <h2 class="title-1">Consecutivos</h2>

        </div>
    </div>
</div>
<div class="row m-t-30">
    <div class="col-md-12">
        <!-- DATA TABLE-->
        <div id="responsive-consecutivos" class="table-responsive m-b-40">
            <table id="table-consecutivos" class="table table-responsive table-data3">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>TMP</td>
                        <td>Tipos Materia Prima</td>
                    </tr>
                    <tr>
                        <td>BO</td>
                        <td>Bodegas</td>
                    </tr>
                    <tr>
                        <td>FC</td>
                        <td>Flotilla de Camiones</td>
                    </tr>
                    <tr>
                        <td>MP</td>
                        <td>Materia Prima</td>
                    </tr>
                    <tr>
                        <td>PR</td>
                        <td>Productos</td>
                    </tr>
                    <tr>
                        <td>CL</td>
                        <td>Clientes</td>
                    </tr>
                    <tr>
                        <td>FAC</td>
                        <td>Facturas</td>
                    </tr>
                    <tr>
                        <td>PP</td>
                        <td>Pedidos de Productos</td>
                    </tr>
                    <tr>
                        <td>OP</td>
                        <td>Orden de Pedido</td>
                    </tr>
                    <tr>
                        <td>EI</td>
                        <td>Entrada Inventario</td>
                    </tr>
                    <tr>
                        <td>CA</td>
                        <td>Camiones</td>
                    </tr>
                    <tr>
                        <td>PRO</td>
                        <td>Proveedores</td>
                    </tr>
                    <tr>
                        <td>NP</td>
                        <td>Número de Producción</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE-->
    </div>
</div>