<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2 class="display-5 my-3"> ERROR 404</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron" style="background-color: #30AEEF";>
                            <h2>Oops, The Page you are looking for can't be found!</h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>