<div class="row">
    <div class="col-md-10">
        <div class="overview-wrap">
            <h2 class="title-1">Mantenimiento de Eventos</h2>
            
        </div>
    </div>
</div>
<div class="row m-t-25"></div>

<div class="row">

    <div class="col-lg-20" style="width: 780px;">
        <div class="au-card recent-report">
            <div class="au-card-inner">
                <h3 class="title-2">Editar</h3>
                <div class="signup-form">
                    <form class="register-form" id="register-form">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="nombre" class="required">Nombre del Evento</label>
                                    <input type="text" name="nombre" id="nombre" />
                                </div>
                                <div class="form-input">
                                    <label for="codigo_evento" class="required">Código del Evento</label>
                                    <input type="text" name="codigo_evento" id="codigo_evento" />
                                </div>
                                <div class="form-input">
                                    <label for="nombreCorto" class="required">Nombre Corto</label>
                                    <input type="text" name="nombreCorto" id="nombreCorto" />
                                </div>
                                <div class="form-input">
                                    <label for="descripcion" class="required">Descripción</label>
                                    <textarea type="text" name="descripcion" id="descripcion"
                                        rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="form-submit">
                    <input type="submit" value="Actualizar" class="submit" id="submit" name="submit" />
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
