<div class="row m-t-30">
    <div class="col-md-12">
        <!-- DATA TABLE-->
        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <thead>
                    <tr>
                        <th>Nombre Compañia</th>
                        <th>Teléfono</th>
                        <th>Cédula Jurídica</th>
                        <th>Mensaje de Saludo</th>
                        <th>Dirección Establecimiento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>TRAMSA</td>
                        <td>223049032</td>
                        <td>123456789</td>
                        <td class="process">Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                        <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic illum quia, eaque praesentium
                            est fugiat qui illo suscipit at totam excepturi.</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE-->
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="overview-wrap">
            <h2 class="title-1">Párametros</h2>
            <button class="au-btn au-btn-icon au-btn--blue">
                <i class="zmdi zmdi-plus"></i>Agregar</button>
        </div>
    </div>
</div>
<div class="row m-t-25"></div>
<div class="row">
    <div class="col-lg-20" style="width: 780px;">
        <div class="au-card recent-report">
            <div class="au-card-inner">
                <h3 class="title-2">Registro</h3>
                <div class="signup-form">

                    <form class="register-form" id="register-form">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="parametro_companyName" class="required">Nombre
                                        de la Compañia</label>
                                    <input type="text" name="parametro_companyName" id="parametro_companyName" />
                                </div>

                                <div class="form-input">
                                    <label for="parametro_phoneNumber" class="required">Teléfono</label>
                                    <input type="text" name="parametro_phoneNumber" id="parametro_phoneNumber" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="parametro_cedulaJuridica" class="required">Cédula
                                        Jurídica</label>
                                    <input type="text" name="parametro_cedulaJuridica" id="parametro_cedulaJuridica" />
                                </div>
                                <div class="form-input">
                                    <label for="parametro_Mensaje" class="required">Mensaje
                                        Saludo</label>
                                    <textarea type="text" name="parametro_Mensaje" id="parametro_Mensaje"
                                        rows="3"></textarea>
                                </div>
                                <div class="form-input">
                                    <label for="parametro_Address" class="required">Dirección
                                        Establecimiento</label>
                                    <textarea type="text" name="parametro_Address" id="parametro_Address"
                                        rows="4"></textarea>
                                </div>
                            </div>

                        </div>
                </div>

                <div class="form-submit">
                    <input type="submit" value="Submit" class="submit" id="submit" name="submit" />
                    <input type="submit" value="Reset" class="submit" id="reset" name="reset" />
                </div>
                </form>

            </div>


        </div>
    </div>
</div>