
<div class="row">
    <div class="col-md-10">
        <div class="overview-wrap">
            <h2 class="title-1">Párametros</h2>
            
    </div>
</div>
<div class="row m-t-25"></div>
<div class="row">
    <div class="col-lg-20" style="width: 780px;">
        <div class="au-card recent-report">
            <div class="au-card-inner">
                <h3 class="title-2">Editar</h3>
                <div class="signup-form">

                    <form class="register-form" id="register-form">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="nombreCompania" class="required">Nombre
                                        de la Compañia</label>
                                    <input type="text" name="nombreCompania" id="nombreCompania" />
                                </div>

                                <div class="form-input">
                                    <label for="telefono" class="required">Teléfono</label>
                                    <input type="text" name="telefono" id="telefono" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="cedulaJuridica" class="required">Cédula
                                        Jurídica</label>
                                    <input type="text" name="cedulaJuridica" id="cedulaJuridica" />
                                </div>
                                <div class="form-input">
                                    <label for="mensajeSaludo" class="required">Mensaje
                                        Saludo</label>
                                    <textarea type="text" name="mensajeSaludo" id="mensajeSaludo"
                                        rows="3"></textarea>
                                </div>
                                <div class="form-input">
                                    <label for="direccionEstbalecimiento" class="required">Dirección
                                        Establecimiento</label>
                                    <textarea type="text" name="direccionEstbalecimiento" id="direccionEstbalecimiento"
                                        rows="4"></textarea>
                                </div>
                            </div>

                        </div>
                </div>

                <div class="form-submit">
                    <input type="submit" value="Actualizar" class="submit" id="submit" name="submit" />
                </div>
                </form>

            </div>


        </div>
    </div>
</div>