<div class="row">
    <div class="col-md-10">
        <div class="overview-wrap">
            <h2 class="title-1">Pedidos Pendientes</h2>
            <button class="au-btn au-btn-icon au-btn--blue">
                <i class="zmdi zmdi-refresh"></i>Actualizar
            </button>
        </div>
    </div>
</div>
<div class="row m-t-25"></div>
<div class="row m-t-30">
    <div class="col-md-12">
        <!-- DATA TABLE-->
        <div id="responsive-pedidosPendientes" class="table-responsive m-b-40">
            <table id="table-pedidosPendientes" class="table table-responsive table-data3">
                <thead>
                    <tr>
                        <th>Número de Pedido</th>
                        <th>Fecha de Pedido</th>
                        <th>Proveedor</th>
                        <th>Camión</th>
                        <th>Monto de Pedido</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-shadow">
                        <td>1342</td>
                        <td>30/02/2020</td>
                        <td class="desc">Ferretería San Bosco</td>
                        <td>Cam4X</td>
                        <td>39203</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE-->
    </div>
</div>