<div class="row">
    <div class="col-md-10">
        <div class="overview-wrap">
            <h2 class="title-1">Productos</h2>
            
        </div>
    </div>
</div>

<div class="row m-t-25"></div>
<div class="row">
    <div class="col-lg-20" style="width: 780px;">
        <div class="au-card recent-report">
            <div class="au-card-inner">
                <h3 class="title-2">Editar</h3>
                <div class="signup-form">
                    <form class="register-form" id="register-form">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="codigo_producto" class="required">Código de
                                        Producto</label>
                                    <input type="text" name="codigo_producto" id="codigo_producto" />
                                </div>
                                <div class="form-input">
                                    <label for="descripcion" class="required">Descripción</label>
                                    <input type="text" name="descripcion" id="descripcion" />
                                </div>
                                <div class="form-input">
                                    <label for="nombreCorto" class="required">Nombre
                                        Corto</label>
                                    <input type="text" name="nombreCorto" id="nombreCorto" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="puntoReorden" class="required">Punto de
                                        Re-Orden</label>
                                    <input type="text" name="puntoReorden" id="puntoReorden" />
                                </div>
                                <div class="select-list">
                                    <label for="unidadDeMedida" class="required">Unidad de
                                        Medida</label>
                                    <select name="unidadDeMedida" id="unidadDeMedida" class="form-control">
                                        <option value="0">Seleccione una Opción</option>
                                        <option value="1">Metros</option>
                                        <option value="2">Metros Cúbicos</option>
                                        <option value="3">Metros Cuadrados</option>
                                        <option value="4">Litros</option>
                                        <option value="3">Mililitros</option>
                                    </select>
                                </div>
                                <div class="form-input">
                                    <label for="productosCode" class="required">Código de Tipo
                                        Materia Prima</label>
                                    <input type="text" name="productosCode" id="productosCode" />
                                </div>
                                <div class="form-input">
                                    <label for="codigo_materiaPrima" class="required">Código de Materia
                                        Prima</label>
                                    <input type="text" name="codigo_materiaPrima"
                                        id="codigo_materiaPrima" />
                                </div>

                            </div>
                        </div>
                </div>

                <div class="form-submit">
                    <input type="submit" value="Actualizar" class="submit" id="submit" name="submit" />
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row m-t-25"></div>
