<div class="row">
    <div class="col-md-10">
        <div class="overview-wrap">
            <h2 class="title-1">Proveedores</h2>
            
        </div>
    </div>
</div>
<div class="row m-t-25"></div>
<div class="row">
    <div class="col-lg-20" style="width: 780px;">
        <div class="au-card recent-report">
            <div class="au-card-inner">
                <h3 class="title-2">Editar</h3>
                <div class="signup-form">
                    <form class="register-form" id="register-form">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="proveedorCode" class="required">Código de
                                        Proveedor</label>
                                    <input type="text" name="proveedorCode" id="proveedorCode" />
                                </div>
                                <div class="form-input">
                                    <label for="proveedor_Cedula" class="required">Cédula de
                                        Identidad</label>
                                    <input type="text" name="proveedor_Cedula" id="proveedor_Cedula" />
                                </div>
                                <div class="form-input">
                                    <label for="proveedorName" class="required">Nombre de
                                        Proveedor</label>
                                    <input type="text" name="proveedorName" id="proveedorName" />
                                </div>
                                <div class="form-input">
                                    <label for="proveedorShortName" class="required">Nombre Corto</label>
                                    <input type="text" name="proveedorShortName" id="proveedorShortName" />
                                </div>
                                <div class="form-input">
                                    <label for="proveedor_phoneNumber" class="required">Teléfono</label>
                                    <input type="text" name="proveedor_phoneNumber" id="proveedor_phoneNumber" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="proveedorEmail" class="required">Correo
                                        Electrónico</label>
                                    <input type="email" name="proveedorEmail" id="proveedorEmail" />
                                </div>
                                <div class="form-input">
                                    <label for="proveedorContacto" class="required">Contacto</label>
                                    <input type="text" name="proveedorContacto" id="proveedorContacto" />
                                </div>
                                <div class="form-input">
                                    <label for="proveedorContacto_phoneNumber" class="required">Teléfono de
                                        Contacto</label>
                                    <input type="text" name="proveedorContacto_phoneNumber"
                                        id="proveedorContacto_phoneNumber" />
                                </div>
                                <div class="form-input">
                                    <label for="proveedor_Address" class="required">Dirección</label>
                                    <textarea type="text" name="proveedor_Address" id="proveedor_Address"
                                        rows="4"></textarea>
                                </div>

                            </div>
                        </div>
                </div>

                <div class="form-submit">
                    <input type="submit" value="Actualizar" class="submit" id="submit" name="submit" />
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
