<div class="row">
    <div class="col-md-10">
        <div class="overview-wrap">
            <h2 class="title-1">Punto de Venta</h2>
            <button class="au-btn au-btn-icon au-btn--blue">
                <i class="fas fa-download"></i>Descargar
            </button>

        </div>
    </div>
</div>
<div class="row m-t-25"></div>
<div class="row">
    <div class="col-lg-20" style="width: 780px;">
        <div class="au-card recent-report">
            <div class="au-card-inner">
                <h3 class="title-2">Registro</h3>
                <div class="signup-form">
                    <form class="register-form" id="register-form">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="produccion_Number" class="required">Número de
                                        Producción</label>
                                    <input type="text" name="produccion_Number" id="produccion_Number" />
                                </div>
                                <div class="form-input">
                                    <label for="produccion_Date" class="required">Fecha de la
                                        Producción</label>
                                    <input type="date" name="produccion_Date" id="produccion_Date" />
                                </div>
                                <div class="form-input">
                                    <label for="produccion_Code" class="required">Código de
                                        Producto</label>
                                    <input type="text" name="produccion_Code" id="produccion_Code" />
                                </div>
                                <div class="form-input">
                                    <label for="producto_Name" class="required">Nombre de
                                        Producto</label>
                                    <input type="text" name="producto_Name" id="producto_Name" />
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="select-list">
                                    <label for="pedido_Proveedor" class="required">Bodega a
                                        Almacenar</label>
                                    <select name="pedido_Proveedor" id="pedido_Proveedor" class="form-control">
                                        <option value="0">Seleccione una Opción</option>
                                        <option value="1"></option>
                                        <option value="2"></option>
                                    </select>
                                </div>
                                <div class="form-input">
                                    <label for="produccion_Number" class="required">Cantidad por
                                        Producir</label>
                                    <input type="number" name="produccion_Number" id="produccion_Number" />
                                </div>
                                <div class="form-input">
                                    <label for="produccion_Tiempo" class="required">Tiempo
                                        Estimado de Producción</label>
                                    <input step="1" type="time" name="produccion_Tiempo" id="produccion_Tiempo" />
                                </div>

                            </div>
                        </div>
                </div>

                <div class="form-submit">
                    <input type="submit" value="Producir" class="submit" id="submit" name="submit" />
                    <input type="submit" value="Cancelar" class="submit" id="reset" name="reset" />
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">Listado de Clientes</h3>
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <div class="rs-select2--light rs-select2--md">
                    <select class="js-select2" name="property">
                        <option selected="selected">Propiedades</option>
                        <option value="">Código</option>
                        <option value="">Nombre Corto</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>

                <button class="au-btn-filter">
                    <i class="zmdi zmdi-filter-list"></i>Filtrar</button>
            </div>
            <div class="table-data__tool-right">

                <div class="rs-select2--light">
                    <form class="form-header" action="" method="">
                        <input class="au-input " type="text" name="search" placeholder="Buscar" />
                        <button class="au-btn--submit" type="submit">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </form>
                </div>
                <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                    <i class="zmdi zmdi-plus"></i>Confirmar Orden</button>
            </div>
        </div>
        <div class="table-responsive table-responsive-data3">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>Número de Factura</th>
                        <th>Código Materia Prima</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-shadow">

                        <td>OP1903</td>
                        <td>MP49358</td>
                        <td class="desc">Agua Florida</td>
                        <td>100</td>
                        <td>
                            <span class="status--pending">Pendiente</span>
                        </td>
                        <td>
                            <label class="au-checkbox">
                                <input type="checkbox">
                                <span class="au-checkmark"></span>
                            </label>
                        </td>
                    </tr>
                    <tr class="spacer"></tr>



                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>