<div class="row">
    <div class="col-md-10">
        <div class="overview-wrap">
            <h2 class="title-1">Tipos Materia Prima</h2>
            
        </div>
    </div>
</div>
<div class="row m-t-25"></div>
<div class="row">
    <div class="col-lg-20" style="width: 780px;">
        <div class="au-card recent-report">
            <div class="au-card-inner">
                <h3 class="title-2">Editar</h3>
                <div class="signup-form">
                    <form class="register-form" id="register-form">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="codigo_tipoMateriaPrima" class="required">Código Tipo Materia Prima</label>
                                    <input type="text" name="codigo_tipoMateriaPrima" id="codigo_tipoMateriaPrima" />
                                </div>
                                <div class="form-input">
                                    <label for="descripcion" class="required">Descripción</label>
                                    <input type="text" name="descripcion" id="descripcion" />
                                </div>
                                <div class="form-input">
                                    <label for="nombreCorto" class="required">Nombre Corto</label>
                                    <input type="text" name="nombreCorto"
                                        id="nombreCorto" />
                                </div>
                            </div>
                        </div>
                </div>

                <div class="form-submit">
                    <input type="submit" value="Actualizar" class="submit" id="submit" name="submit" />
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
