<div class="row">
    <div class="col-md-10">
        <div class="overview-wrap">
            <h2 class="title-1">Mantenimiento de Usuarios</h2>
            
        </div>
    </div>
</div>
<div class="row m-t-25"></div>

<div class="row">

    <div class="col-lg-20" style="width: 780px;">
        <div class="au-card recent-report">
            <div class="au-card-inner">
                <h3 class="title-2">Editar</h3>
                <div class="signup-form">
                    <form class="register-form" id="register-form">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="usuarioCodeEvent" class="required">Código
                                        Evento</label>
                                    <input type="text" name="usuarioCodeEvent" id="usuarioCodeEvent" />
                                </div>
                                <div class="form-input">
                                    <label for="usuarioCompleteName" class="required">Nombre
                                        Completo</label>
                                    <input type="text" name="usuarioCompleteName" id="usuarioCompleteName" />
                                </div>
                                <div class="form-input">
                                    <label for="user" class="required">Nombre de
                                        Usuario</label>
                                    <input type="text" name="user" id="user" />
                                </div>
                                <div class="form-input">
                                    <label for="nombre" class="required">Nombre
                                        Corto de Evento</label>
                                    <input type="text" name="nombre" id="nombre" />
                                </div>
                                <div class="form-input">
                                    <label for="email" class="required">Correo
                                        Electrónico</label>
                                    <input type="email" name="email" id="email" />
                                </div>
                                <div class="form-input">
                                    <label for="password" class="required">Contraseña</label>
                                    <input type="email" name="password" id="password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-list">
                                    <label for="rol" class="required">Rol</label>
                                    <select name="rol" id="rol" class="form-control">
                                        <option value="0">Seleccione una Opción</option>
                                        <option value="1"></option>
                                        <option value="2"></option>
                                        <option value="3"></option>
                                        <option value="4"></option>
                                        <option value="3"></option>
                                    </select>
                                </div>
                                <div class="select-list">
                                    <label for="estado" class="required">Estado</label>
                                    <select name="estado" id="estado" class="form-control">
                                        <option value="0">Seleccione una Opción</option>
                                        <option value="1">Activo</option>
                                        <option value="2">Desactivado</option>

                                    </select>
                                </div>
                                <div class="select-list">
                                    <label for="usuarioTipo" class="required">Tipo de
                                        Usuario</label>
                                    <select name="usuarioTipo" id="usuarioTipo" class="form-control">
                                        <option value="0">Seleccione una Opción</option>
                                        <option value="1">Usuario Administrador de Seguridad
                                        </option>
                                        <option value="2">Usuario Administrador del Sistema
                                        </option>

                                    </select>
                                </div>

                            </div>
                        </div>
                </div>
                <div class="form-submit">
                    <input type="submit" value="Actualizar" class="submit" id="submit" name="submit" />
                </div>
                </form>
            </div>
        </div>
    </div>
</div>