        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index">
                            <h2 class="title-1">TRAMSA</h2>
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Párametros
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">

                                <li>
                                    <a href="/parametros">Párametros Generales</a>
                                </li>
                                <li>
                                    <a href="/consecutivos">Consecutivos</a>
                                </li>

                            </ul>
                        </li>
                        <li class=" has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-gears"></i>Administrador
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/bodegas">Bodegas</a>
                                </li>
                                <li>
                                    <a href="/camiones">Camiones</a>
                                </li>
                                <li >
                                    <a href="/tiposMateriaPrima">Tipos de Materia Prima</a>
                                </li>
                                <li>
                                    <a href="/materiaPrima">Materia Prima</a>
                                </li>
                                <li>
                                    <a href="/productos">Productos</a>
                                </li>
                                <li>
                                    <a href="/proveedores">Proveedores</a>
                                </li>
                                <li>
                                    <a href="/clientes">Clientes</a>
                                </li>
                            </ul>
                        </li>
                        
                        <li class=" has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-refresh"></i>Procesos</a>
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/crearOrden">Crear Orden</a>
                                </li>
                                <li>
                                    <a href="/confirmarOrden">Comprobar Orden</a>
                                </li>
                                <li>
                                    <a href="/inventario">Entrada de Inventario</a>
                                </li>
                                <li>
                                    <a href="/produccionLote">Producción en Lote</a>
                                </li>
                                <li>
                                    <a href="/puntoVenta">Punto de Venta</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fa fa-lock"></i>Seguridad
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/eventos">Eventos</a>
                                </li>
                                <li>
                                    <a href="/roles">Roles</a>
                                </li>
                                <li>
                                    <a href="/usuarios">Usuarios</a>
                                </li>
                                <li>
                                    <a href="/bitacorasRegistro">Bitacoras</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fa fa-file-text"></i>Consultas
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/bitacorasConsultas">Bitácora</a>
                                </li>
                                <li>
                                    <a href="/clientesConsultas">Clientes</a>
                                </li>
                                <li>
                                    <a href="/pedidosPendientesConsultas">Pedidos Pendientes</a>
                                </li>
                            </ul>
                        </li>        
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

               <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="/">
                    <h2 class="title-1">TRAMSA</h2>
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class=" has-sub">
                            <a class=" js-arrow" href="#">
                                <i class="fas fa-copy"></i>Párametros
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">

                                <li>
                                    <a href="/parametros">Párametros Generales</a>
                                </li>
                                <li>
                                    <a href="/consecutivos">Consecutivos</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-gears"></i>Administrador
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/bodegas">Bodegas</a>
                                </li>
                                <li>
                                    <a href="/camiones">Camiones</a>
                                </li>
                                <li >
                                    <a href="/tiposMateriaPrima">Tipos de Materia Prima</a>
                                </li>
                                <li>
                                    <a href="/materiaPrima">Materia Prima</a>
                                </li>
                                <li>
                                    <a href="/productos">Productos</a>
                                </li>
                                <li>
                                    <a href="/proveedores">Proveedores</a>
                                </li>
                                <li>
                                    <a href="/clientes">Clientes</a>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-refresh"></i>Procesos
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/crearOrden">Crear Orden</a>
                                </li>
                                <li>
                                    <a href="/confirmarOrden">Comprobar Orden</a>
                                </li>
                                <li>
                                    <a href="/inventario">Entrada de Inventario</a>
                                </li>
                                <li>
                                    <a href="/produccionLote">Producción en Lote</a>
                                </li>
                                <li>
                                    <a href="/puntoVenta">Punto de Venta</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fa fa-lock"></i>Seguridad
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/eventos">Eventos</a>
                                </li>
                                <li>
                                    <a href="/roles">Roles</a>
                                </li>
                                <li>
                                    <a href="/usuarios">Usuarios</a>
                                </li>
                                <li>
                                    <a href="/bitacorasRegistro">Registro Bitacora</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fa fa-file-text"></i>Consultas
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/bitacorasConsultas">Bitácora</a>
                                </li>
                                <li>
                                    <a href="/clientesConsultas">Clientes</a>
                                </li>
                                <li>
                                    <a href="/pedidosPendientesConsultas">Pedidos Pendientes</a>
                                </li>
                                
                            </ul>
                        </li>
                        
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->